<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Keegan</string>
	<key>CFBundleDisplayName</key>
	<string>ImageViewPlus</string>
	<key>CFBundleIdentifier</key>
	<string>com.InScopeApps.imageviewplus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Inject.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>Style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://*/**.png</string>
			<string>http://*/**.jpg</string>
			<string>http://*/**.jpeg</string>
			<string>http://*/**.gif</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Improves Safari's image viewing page.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/InScopeApps/ImageViewPlus/raw/master/Update.plist</string>
	<key>Website</key>
	<string>http://github.com/InScopeApps/ImageViewPlus</string>
</dict>
</plist>
