html > body:only-child{
	background-color: gray;
}

html > body:only-child > img:only-child{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin:auto;
	-webkit-box-shadow: black 0 0 10px;
	background-color: white;
}
