/*
The css is defined like this so the image view page doesn't
flash as the default before the injection script is done.
*/

html > body:only-child, .ImageViewPlus-body{
	width: 100%; 
	height: 100%;
	display: table;
	background-color: #3c3c3c;
}

body:only-child > p, .ImageViewPlus-p{
	display: table-cell; 
	vertical-align: middle;
}

html > body:only-child img, .ImageViewPlus-img{
	display: block; 
	margin: 0 auto;
	/*TODO: figure out why the image doesn't fade in*/
	opacity: 0;
	-webkit-transition: opacity 0.25s ease-in-out;
}

html > body:only-child img.ImageViewPlus-Display, .ImageViewPlus-img.ImageViewPlus-Display{
    opacity: 1;
}

html > body:only-child img.ImageViewPlus-Treatment, .ImageViewPlus-img.ImageViewPlus-Treatment{
	//background-color: white;
	/*TODO: figure out why this isn't working*/
	background-image: url(CheckerBoard.png);
	-webkit-box-shadow: black 0 0 10px;
	border-radius: 5px;
}